---
page: 4
title: Plan
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="1" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Plan</h1>

    <p>
        Hi <span data-value-source="name-input"></span>
    </p>
    <p>
        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>
    <div class="form-fields ui three column stackable grid">
        {% include channel-growth-model/checkbox.html name="plan" value="Defined Partner Programme" score="0.5" index="1" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Cross-business Channel Alignment" score="0.5" index="2" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Annualised Partner Business Plan" score="0.5" index="3" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Multi-tiered Partner Programme" score="0.5" index="4" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Partner Competency / Coverage Whitespace Analysis" score="0.5" index="5" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Lorem ipsum dolor sit amet cons ectetuer" score="0.5" index="6" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Commissioned Research Into Market Opportunities" score="0.5" index="7" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Channel Revenue Goals And Budgets" score="0.5" index="8" %}
        {% include channel-growth-model/checkbox.html name="plan" value="Channel Revenue Goals" score="0.5" index="9" %}
    </div>

    <div class="buttons text-right">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




