---
page: 4
title: Plan
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="1" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Plan</h1>

    <p>
        Hi <span data-value-source="name-input"></span>
    </p>
    <p>
        A strategic plan to grow Channel is important if long-term growth is a priority. Does your organisation set
        specific Channel revenue goals or have a list of target Partners for acquisition? Select each tactic which
        applies to your business model to establish how mature your Channel planning is.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    {% include channel-growth-model/checkboxes.html pillar="plan"  %}
    {% include channel-growth-model/progress.html pillar="plan" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




