---
page: 5
title: Resource
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="2" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Resource</h1>

    <p>
        So <span data-value-source="name-input"></span>, how do you resource your channel organisation? Do you allocate
        budget to agency support? Is your programme resourced entirely through distributors or master agents? Select
        each tactic which applies to your business model.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    {% include channel-growth-model/checkboxes.html pillar="resource"  %}
    {% include channel-growth-model/progress.html pillar="resource" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




