---
page: 5
title: Resource
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="2" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Resource</h1>

    <p>
        so <span data-value-source="name-input"></span>, Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    <div class="form-fields ui three column stackable grid">
        {% include channel-growth-model/checkbox.html name="resource" value="No Dedicated Channel Heads" score="5" index="1" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Specialist Agency Support" score="50" index="2" %}
        {% include channel-growth-model/checkbox.html name="resource" value="2-tier or 3-tier Channel Model" score="50" index="3" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Lorem ipsum dolor sit amet cons ectetuer" score="5" index="4" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Specialist Agency Support With Embedded Personnel" score="250" index="5" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Global And Regional Resourcing In Marketing And Sales" score="250" index="6" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Senior VP of Channel Layer reporting to C-Suite" score="250" index="7" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Resourced Entirely Through Disti / Master Agent" score="5" index="8" %}
        {% include channel-growth-model/checkbox.html name="resource" value="Major Regional Resourcing" score="50" index="9" %}
    </div>

    {% include channel-growth-model/progress.html name="resource" index="38%" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




