---
page: 7
title: Enable
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="4" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Enable</h1>

    <p>
        Once the right Channel Partners are recruited, this momentum should be leveraged with a clear enablement stream
        so that Partners can quickly understand the product, resources available to them and how to bring it out to
        market. Select each which methods of enablement apply to your business model.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    {% include channel-growth-model/checkboxes.html pillar="enable"  %}
    {% include channel-growth-model/progress.html pillar="enable" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




