---
page: 7
title: Enable
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="4" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Enable</h1>

    <p>
        thanks <span data-value-source="name-input"></span> Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    <div class="form-fields ui three column stackable grid">
        {% include channel-growth-model/checkbox.html name="enable" value="Co-selling Model" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Sales Enablement Training & Material" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Annual Sales & Product Training & Certification" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Lorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Concierge Services For Marketing" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Partner Persona-based Communication Programme" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Lorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Self-service Vendor Collateral" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="enable" value="Partner Education Programme" score="0.5" %}
    </div>

    <div class="buttons text-right">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




