---
page: 8
title: Engage
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="5" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Engage</h1>

    <p>
        Once you have recruited and enabled the right Channel Partners, how you as a Vendor engage with them throughout
        the programme will help cohesion and create a culture of productivity and success within your Channel.
        Select each tactic which applies to your business model.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    {% include channel-growth-model/checkboxes.html pillar="engage"  %}
    {% include channel-growth-model/progress.html pillar="engage" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




