---
page: 9
title: Grow
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="6" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Grow</h1>

    <p>
        Does your Channel programme have scale? What tactics do you currently employ in an attempt to support your
        Partner programmes and grow your Channel? Select each tactic which applies to your business model.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    {% include channel-growth-model/checkboxes.html pillar="grow"  %}
    {% include channel-growth-model/progress.html pillar="grow" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




