---
page: 9
title: Grow
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="6" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Grow</h1>

    <p>
        thanks <span data-value-source="name-input"></span> Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    <div class="form-fields ui three column stackable grid">
        {% include channel-growth-model/checkbox.html name="grow" value="Lead Pass-over From Vendor To Partner" score="5" index="1" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Partner Demand Generation Programmes" score="50" index="2" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Channel Account-based Marketing Programmes" score="250" index="3" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Ad hoc Partner Marketing Funds" score="5" index="4" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Developed MDF Programme" score="50" index="5" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Tiered Support Based on Value-Add" score="250" index="6" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Lorem ipsum dolor sit amet cons ectetuer" score="5" index="7" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Partner Incentives Strategy" score="50" index="8" %}
        {% include channel-growth-model/checkbox.html name="grow" value="Marketplace" score="250" index="9" %}
    </div>

    {% include channel-growth-model/progress.html name="grow" index="38%" %}

    <div class="buttons text-right px-3 px-md-0">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




