---
page: 10
title: Measure
classes:
---

<div class="stripes"></div>

{% include channel-growth-model/tabs.html completed="7" %}

<div class="text-left constrained-container px-3 py-5">
    <div class="sherpa-ident"><img src="https://cdn2.hubspot.net/hubfs/733226/ident_white.png" width="86" height="109" alt="Sherpa"></div>
    <h1 class="text-white contrast-dark">Measure</h1>

    <p>
        thanks <span data-value-source="name-input"></span> Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
        minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea com.
    </p>

    <p class="text-bold">
        Select all applicable.
    </p>

    <div class="form-fields ui three column stackable grid">
        {% include channel-growth-model/checkbox.html name="measure" value="LLorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Channel Specific Marketing & Sales KPIs" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="MDF & Incentives Linked to Closed Revenue" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="LLorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Lead Registration" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Partner" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Lorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Partner Satisfaction Measurements" score="0.5" %}
        {% include channel-growth-model/checkbox.html name="measure" value="Lorem ipsum dolor sit amet cons ectetuer" score="0.5" %}
    </div>

    <div class="buttons text-right">
        <a class="button scrollsnap-next">Next</a>
    </div>
</div>




