---
---

$colour-primary: #008720;
@import "sage-base";

.logos-container {
  img:first-child {
    background: white;
    border-radius: 3px;
    padding: 10px;
  }
}

.text-purple {
  color: $colour-primary;
}

.with-background {
  @include cover-page('../img/hero-01.jpg?cb=1');
}

.page-cta {
  @include cover-page('../img/hero-01.jpg?cb=1');
}

#flip-growth-man {
  @include flip-style(#74c2ac, '../img/growth.jpg?cb=1');
}

#flip-digital-man {
  @include flip-style(#cd5998, '../img/digital.jpg?cb=1');
}

#flip-flexibility-man {
  @include flip-style(#3794b7, '../img/flexibility.jpg?cb=1');
}

#flip-productivity-man {
  @include flip-style($colour-primary, '../img/productivity.jpg?cb=1');
}
