---
page: 10
title: Let's do this
classes:
---

<div class="my-5">
    <div>
        <h3 class="title">
            Is your company ABM ready? 5 key questions…
        </h3>
    </div>
</div>

<div class="ui middle aligned stackable grid">
    <div class="ten wide column">
        <div class="answers">

            <div class="ui top aligned padded stackable grid">
                {% include summit-abm/sales-cycle-questions.html answers-page=true %}
                {% include summit-abm/target-audience-questions.html answers-page=true %}
                {% include summit-abm/support-messaging-questions.html answers-page=true %}
                {% include summit-abm/marketing-platform-questions.html answers-page=true %}
                {% include summit-abm/marketing-alignment-questions.html answers-page=true %}
            </div>

        </div>
    </div>
    <div class="six wide column">
        Get Your Personalised Report

    </div>

</div>




