<div class="ui page dimmer p-0 growable {{page.dimmer-classes}}">
    <div class="content grow-1 growable" style="width:100%">

        <div class="pt-5 text-center">
            <div class="logos-container">
                <img class="ui middle aligned mr-3" src="img/rkl-logo.png">
                <img class="ui middle aligned ml-3" src="img/sage-partner-logo-new.png">
            </div>
        </div>
        <div class="grow-1 xcenter text-center"><div>
            <form class="access-form wizard mt-3" data-store-key="rkl-user" data-form-id="distribution" novalidate>
                <div class="wizard-page active" data-wizard-page="0">
                    <h1 class="text-uppercase contrast-dark text-center">
                        <div class="delay-400ms px-5" xdata-animation="slideInLeft">Build a Successful Tech</div>
                        <div class="delay-600ms px-5" xdata-animation="slideInLeft">Strategy for the Future</div>
                    </h1>
                    <div class="delay-800ms mt-5" xdata-animation="slideInLeft">
                        <div class="form-fields">
                            <input type="hidden" name="_subject" value="RKL Whitepaper Lead"/>
                            <input type="hidden" name="_title" value="{{page.subject}}"/>

                            <div class="field">
                                <label for="name-input">Name:</label>
                                <input type="text" id="name-input" name="name" autocomplete="name" placeholder="Please enter your full name" required/>
                                <span class="invalid-feedback">Name is required</span>
                            </div>
                            <div class="field error">
                                <label for="email-input">Email:</label>
                                <input type="email" id="email-input" name="email" autocomplete="email" placeholder="Please enter your email address" required/>
                                <span class="invalid-feedback">Please enter a valid email address</span>
                            </div>

                            <div class="field">
                                <p class="text-smaller contrast-dark">By submitting this form you give consent to continue to receive communications from K3</p>
                                <button class="button button-yellow wizard-next" type="button"  data-ga-event-category="Form" data-ga-event-action="Details Submitted">Here's How <i class="arrow right icon mr-0 ml-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wizard-page" data-wizard-page="1">
                    <h1 class="text-uppercase contrast-dark text-center">
                        <div class="delay-400ms px-5" xdata-animation="slideInLeft">What's holding your</div>
                        <div class="delay-600ms px-5" xdata-animation="slideInLeft">business back?</div>
                    </h1>
                    <h3 class="contrast-dark text-center">
                        Consider these challenges to your organisation’s growth. Drag and drop them from most to least important.
                    </h3>
                    <div class="delay-800ms mt-5" xdata-animation="slideInLeft">
                        <div class="form-fields">
                            <div class="field">
                                <input type="hidden" id="issues" name="issues" />
                                <ol class="sortable" id="user-issues" data-sortable-input="#issues">
                                    <li>Managing a global network of partners and suppliers</li>
                                    <li>Meeting the needs of an evolving market</li>
                                    <li>Ensuring regulatory compliance</li>
                                    <li>Getting the right information to innovate</li>
                                    <li>Legacy systems preventing optimisation</li>
                                    <li>Falling behind in the race to technologise</li>
                                </ol>
                                <p class="text-smaller contrast-dark">(<i class="hand point up icon"></i> Drag &amp; drop from most to least important <i class="hand point up icon"></i>)</p>
                            </div>

                            <div class="field">
                                <button class="button button-yellow" type="submit" data-ga-event-category="Form" data-ga-event-action="Issues Submitted">Get Started <i class="arrow right icon mr-0 ml-1"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div></div>

    </div>
</div>
