<div class="rspca-nav tabs text-uppercase ui center aligned stackable eight column grid pt-3 mt-md-3">
    <div class="column {% if include.active == 'overview' %}active{% endif %}">Overview</div>
    <div class="column {% if include.active == 'challenge' %}active{% endif %}">Challenge</div>
    <div class="column {% if include.active == 'objective' %}active{% endif %}">Objective</div>
    <div class="column {% if include.active == 'solution' %}active{% endif %}">Solution</div>
        <div class="column {% if include.active == 'bottomline' %}active{% endif %}">Bottomline</div>
    <div class="column {% if include.active == 'future' %}active{% endif %}"><span class="d-none d-lg-inline">The </span>Future</div>
</div>