{% capture questions %}
    <h2>Do you have the marketing platform capabilities to target your audience with custom
        messages?</h2>
<h3><i>What this looks like...</i> You have access to your company’s social media accounts and analytics platforms. You can change content on your
    company website and create landing pages. You have a CRM platform that allows you to track and manage leads.</h3>

{% endcapture  %}
{% include sherpa-abm/questions.html questions=questions answers-page=include.answers-page field="bespoke_marketing_platform" %}
