{% capture questions %}
    <h2>Do you have content to support messaging to your target audience?</h2>
<h3><i>What this looks like...</i>You have (or can help us create) customer-centric and vertical-relevant thought leadership pieces,
    customer case studies and third-party endorsements of product capabilities that we can use at all stages of the sales funnel.</h3>
{% endcapture  %}
{% include sherpa-abm/questions.html questions=questions answers-page=include.answers-page field="content_to_support_messaging" %}
