---
---

$font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;

@import "whitepaper";

$color-purple: #813687;

*, button, input, optgroup, select, textarea {
  font-family: $font-family;
}

.text-purple {
  color: $color-purple;
}

.with-background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero-01.jpg?cb=1) no-repeat !important;
  background-size: cover !important;
  background-position-y: bottom !important;
  background-position-x: left !important;
  color: white;
  padding: 0 !important;

  h1 {
    color: white;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      font-size: 5rem;
    }
  }

}
.with-background-nfp {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero-nfp.jpg?cb=1) no-repeat !important;
  background-size: cover !important;
  background-position-y: bottom !important;
  background-position-x: left !important;
  color: white;
  padding: 0 !important;

h1 {
  color: white;

  @media (min-width: map-get($grid-breakpoints, "lg")) {
    font-size: 5rem;

  }
}
}

.page-cta {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero-01.jpg?cb=1) no-repeat !important;
  background-position-x: left !important;
  background-position-y: bottom !important;
  background-size: cover !important;
    color: white;
  padding: 0 !important;

  h1 {
    color: white;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      font-size: 5rem;
    }
  }

}

.page-cta-nfp {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/hero-nfp.jpg?cb=1) no-repeat !important;
  background-position-x: left !important;
  background-position-y: bottom !important;
  background-size: cover !important;
  color: white;
  padding: 0 !important;

  h1 {
    color: white;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      font-size: 5rem;
    }
  }

}

[class^="hero-"] {
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -5rem;
  padding-bottom: 6rem;

  > .ui.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media (min-width: map-get($grid-breakpoints, "md")) {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  @media (min-width: map-get($grid-breakpoints, "lg")) {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  + * {
    background: white;
    border-radius: 5px;
  }

  h1 {
    text-transform: uppercase;
    margin-top: 0;
    color: white;
    //margin-bottom: 1rem;
  }
}

.hero-02 {
  background-image: url(../img/hero-02.jpg?cb=2);
}

.hero-03 {
  background-image: url(../img/hero-03.jpg?cb=1);
}

.hero-04 {
  background-image: url(../img/hero-04.jpg?cb=1);
}

.hero-05 {
  background-image: url(../img/hero-05.jpg?cb=1);
}

.hero-06 {
  background-image: url(../img/hero-06.jpg?cb=1);
}
.hero-06i {
  background-image: url(../img/hero-06i.jpg?cb=1);
}

.hero-07 {
  background-image: url(../img/hero-07.jpg?cb=2);
}

.hero-08 {
  background-image: url(../img/hero-08.jpg?cb=1);
}

.hero-09 {
  background-image: url(../img/hero-09.jpg?cb=1);
}

.hero-10 {
  background-image: url(../img/hero-10.jpg?cb=1);
}
.hero-11 {
  background-image: url(../img/hero-11.jpg?cb=1);
}
h1 {
  font-size: 2rem;
  color: $color-purple;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    font-size: 3rem;
  }

  @media (min-width: map-get($grid-breakpoints, "md")) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;
  color: $color-purple;
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    font-size: 2rem;
  }
  @media (min-width: map-get($grid-breakpoints, "md")) {
    font-size: 2rem;
  }
}

.button {
  background: $color-purple;
  border-width: 0;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
    outline: 0;
  overflow: hidden;
  padding: 0.75rem 1rem;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;

  @extend .no-user-select;
  @extend .shadow;

  &:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.15)), lighten($color-purple, 10%);
    color: white;
        @extend .shadow-hover;
  }

  &:active,
  &:focus {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15)), darken($color-purple, 10%);
    @extend .shadow-hover;
  }

  &.small {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
   }
}

.page-prev,
.page-next {
  background: rgba(129, 54, 135, 0.2) !important;
}

.logos-container {
  img {
    height: 36px;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      height: 48px;
    }
    @media (min-width: map-get($grid-breakpoints, "md")) {
      height: 75px;
    }
  }
}

.callout {
  background: #d9d9d9 !important;
  color: $gray-800;
  max-width: 350px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  //padding-top: 100px;

  padding-top: 0 !important;
  margin-bottom: 1rem !important;
}

.flip-card {
  color: white;

  .side {
    min-height: 350px;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-height: 270px;
    }
  }

  h3 {
    margin-top: 40px;
  }
}

#flip-growth-man {
  @include flip-style(#74c2ac, '../img/growth.jpg?cb=1');
}

#flip-digital-man {
  @include flip-style(#cd5998, '../img/digital.jpg?cb=1');
}

#flip-flexibility-man {
  @include flip-style(#3794b7, '../img/flexibility.jpg?cb=1');
}

#flip-productivity-man {
  @include flip-style($color-purple, '../img/productivity.jpg?cb=1');
}

#flip-growth-nfp {
  @include flip-style(#a3c642, '../img/nfp-growth.jpg?cb=1');
}

#flip-digital-nfp {
  @include flip-style(#a176be, '../img/nfp-digital.jpg?cb=1');
}

#flip-flexibility-nfp {
  @include flip-style(#7bb175, '../img/nfp-flexiblity.jpg?cb=1');
}

#flip-productivity-nfp {
  @include flip-style(#f69f20, '../img/nfp-productivity.jpg?cb=1');
}

.flickity-button {
  background: rgba(129, 54, 135, 0.2);

  &:hover {
    background: $color-purple;
  }

  &:disabled {
    display: none;
  }

  &:disabled {
    display: none;
  }

  &:focus {
    outline: none;
    background: $color-purple;
    box-shadow: 0 0 0 0 $color-purple;
  }
}

.flickity-page-dots .dot {
  background: $color-purple;
  border: 2px solid $color-purple;
}

.flickity-page-dots .dot.is-selected {
  background: white;
  border: 2px solid $color-purple;
}

#sage-animation {
  background: rgb(244, 244, 244);

  iframe {
    width: 100%;
    border-width: 0;
    height: calc(600px - 95px);

     @media (min-width: 748px) {
      height: calc(850px - 120px);
    }
    @media (min-width: 960px) {
      height: calc(800px - 200px);
    }
  }
}

.wizard {
  position: relative;
  .wizard-page {
    position: absolute;
    top: 0;
    width: 100%;
    //display: none;
    visibility: hidden;
    opacity: 0;
        transition: visibility 1s, opacity 1s linear;

    &.active {
      //display: block;
      opacity: 1;
      visibility: visible;
    }

    .form-fields {
      margin: auto auto 2rem;
      max-width: 600px;
      padding: 0.75rem 2rem;
    }
  }
}

.sortable {
  padding-left: 0;
  list-style-type: none;

  li {
    cursor: move;
    background: $gray-200;
    color: black;
        margin-top: 0.75rem;
    padding: 0.5rem;
    user-select: none;

    //&:before {
    //  color: $color-purple;
    //  content: "Issue: ";
    //}
  }
}

.field {
  margin-top: 0.75rem;
  position: relative;
  width: 100%;

  label {
    display: none;
  }

  input[type=text], input[type=email] {
    border: 2px solid $white;
    padding: 0.5rem;
    width: 100%;
  }

  .invalid-feedback {
    padding: 0 3px 1px 3px;
    visibility: hidden;
  }
}

.was-validated {

  input[type=text], input[type=email] {
    &:invalid {
      border: 2px solid $color-purple;

      + .invalid-feedback {
        background: $color-purple;
        visibility: visible;

        &:after {
          background: #813687;
          border-radius: 0.75rem;
          content: "!";
          font-weight: bold;
          height: 1.5rem;
          line-height: 1.5rem;
          margin-top: -1.25rem;
          position: absolute;
          right: 0.5rem;
          text-align: center;
          top: 50%;
          width: 1.5rem;
        }
      }
    }
  }
}

.dimmer {
  overflow-y: auto;
}

//.carousel:after {
//  content: '';
//}
//
//[data-animation] {
//  visibility: visible;
//}

.tabs {
  .column {
    background: $gray-500;
    color: $white;
    cursor: pointer;
    display: none !important;
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.4rem;
    margin-right: 0.4rem;

    @media (min-width: map-get($grid-breakpoints, "md")) {
      display: inline-block !important;
    }

    @media (min-width: map-get($grid-breakpoints, "xl")) {
      font-size: 1rem;
    }

    &.active {
      color: $white;
      background: $color-purple;
      cursor: inherit;
      display: inline-block !important;
    }
  }

  + * {
    background: white;
  }
}
