.flip-card {
  width: 100%;
  color: white;

  .sides {
    width: 100%;
  }

  .side {
    min-height: 250px;
    background: yellow;
    padding: 1.5rem;

    &.center {
      position: relative;

      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .undo {
      float: right;
      cursor: pointer;
    }
  }

  h1 {
    color: white;
    //margin-top: 40px;
  }

}
