.flip-card {
  width: 100%;
  color: white;

  .sides {
    width: 100%;
  }

  .side {
    //min-height: 250px;
    min-height: 35vh;
    background: yellow;
    padding: 1.5rem;

    &.center {
      position: relative;

      > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .undo {
      float: right;
      cursor: pointer;
    }
  }

  h1 {
    color: white;
    //margin-top: 40px;
  }

}

@mixin flip-style($color, $image) {
  // stylelint-disable-next-line font-family-no-missing-generic-family-keyword
  .side {
    background: $color;
    .button {
      background: $color;

      &:hover {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.15)), lighten($color, 10%);
        @extend .shadow-hover;
      }

      &:active,
      &:focus {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.15)), darken($color, 10%);
        @extend .shadow-hover;
      }
    }
  }

  .side:first-child {
    background-image: url($image);
    background-size: cover;
  }
}
