@import "mixins/text-truncate";
@import "mixins/text-hide";
@import "mixins/breakpoints";

@import "variables";

@import "utils/display";
@import "utils/spacing";
@import "utils/text";
@import "utils/animation-delay";
@import "utils/shadows";

@import "components/grow";
@import "components/valigner";
@import "components/flipcard";
@import "components/flickity";

html,
body {
  font-size: 16px;
}

body {
  background: #ccc;
}

.contrast-dark {
  h1, h2, h3, h4, h5, h6 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6), 0 0 50px #000033;
  }
}


