@import "components/text-truncate";
@import "components/text-hide";
@import "components/breakpoints";

@import "components/variables";
@import "components/spacing";
@import "components/text";

@import "components/animation-delay";
@import "components/valigner";


body {
  background: #ccc;
  //padding: 3rem;
}

.pages {
  background: white;

  &:focus {
    outline: none;
  }

  > section {
    background: white;

    &:focus {
      outline: none;
    }
  }
}

.animated-hidden-start {
  visibility: hidden;
}

.animated {
  visibility: visible !important;
}

.z-depth-2 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.page-prev {
  position: fixed;
  left: 0;
  top: 50%;
  padding: 0.75rem !important;
  pointer-events: none;
}

.first-page {

}

.page-next {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 0.75rem !important;
  pointer-events: none;
}


