<div class="tabs d-none d-lg-block">
    <div data-scrollsnap="2" class="tab {% if include.completed > '0' %}active{% endif %}">Plan</div><div
        data-scrollsnap="3" class="tab {% if include.completed > '1' %}active{% endif %}">Resource</div><div
        data-scrollsnap="4" class="tab {% if include.completed > '2' %}active{% endif %}">Recruit</div><div
        data-scrollsnap="5" class="tab {% if include.completed > '3' %}active{% endif %}">Enable</div><div
        data-scrollsnap="6" class="tab {% if include.completed > '4' %}active{% endif %}">Engage</div><div
        data-scrollsnap="7" class="tab {% if include.completed > '5' %}active{% endif %}">Grow</div><div
        data-scrollsnap="8" class="tab {% if include.completed > '6' %}active{% endif %}">Measure</div>
</div>

