<div class="tabs d-none d-lg-block">
    <div class="tab {% if include.completed > '0' %}active{% endif %}">Plan</div><div
        class="tab {% if include.completed > '1' %}active{% endif %}">Resource</div><div
        class="tab {% if include.completed > '2' %}active{% endif %}">Recruit</div><div
        class="tab {% if include.completed > '3' %}active{% endif %}">Enable</div><div
        class="tab {% if include.completed > '4' %}active{% endif %}">Engage</div><div
        class="tab {% if include.completed > '5' %}active{% endif %}">Grow</div><div
        class="tab {% if include.completed > '6' %}active{% endif %}">Measure</div>
</div>

