{% capture questions %}
    <h4>Do you have sales and marketing alignment within your organisation?</h4>
    <p><i>What this looks like...</i>You have the Sales and Marketing resource to nurture and manage your leads in an ongoing way. Sales is involved in
        marketing activities – or wants to be – and there exists the possibility to handle leads in an aligned way.</p>
{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page field="organisation_marketing_alignment" %}
