{% capture questions %}
    <p>Do you have sales and marketing alignment within your organisation?</p>
    <p class="text-smaller">Do you have the sales and marketing resource to nurture and manage your leads?</p>
    <p class="text-smaller">Is sales involved in marketing activities?</p>
    <p class="text-smaller">Does marketing have any involvement in prospects once they have become leads, or does marketing remit stop there?</p>
{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page field="organisation_marketing_alignment" %}
