{% capture questions %}
    <p>Do you have the marketing platform capabilities to create bespoke / custom messages to be delivered to your target audience?</p>
    <p class="text-smaller">Do you have access to your company's social media accounts and analytics platforms?</p>
    <p class="text-smaller">Do you have the ability to change content on your company website or allow a third party to create bespoke landing pages?</p>
    <p class="text-smaller">Do you have analytics and CRM platforms to track and manage leads?</p>
{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page field="bespoke_marketing_platform" %}
