{% if include.answers-page == true %}
    {% assign field = include.field | append: '-a' %}
{% else %}
    {% assign field = include.field %}
{% endif %}
<div class="row">
    <div class="{% if include.answers-page %}twelve{% else %}ten{% endif %} wide column">
        {{questions | raw}}
    </div>
    <div class="{% if include.answers-page %}four{% else %}three{% endif %} wide column">
        <div class="ui form">
            <div class="grouped fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="{{field}}" tabindex="0" class="hidden" value="y">
                        <label>Yes</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="{{field}}" tabindex="0" class="hidden" value="n">
                        <label>No</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="{{field}}" tabindex="0" class="hidden" value="{%if include.type == 'd' %}d{% else %}s{% endif %}">
                        <label>{%if include.type == 'd' %}I don't know{% else %}Somewhat{% endif %}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if include.answers-page != true %}
        <div class="three wide right aligned column">
            <div class="text-centered"><a class="journey-man button scrollsnap-next">Next</a></div>
        </div>
    {% endif %}
</div>
