{% capture questions %}
    <h4>Does your product suite have a 3 month+ sales cycle and high value unit sales?</h4>
<p><i>What this looks like…</i> You are in market with an enterprise-level or large company product which has a number of
        stakeholders in the decision-making process. The nurture period in the sales funnel can be 3+ months.</p>
    {% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page type="d" field="long_sales_cycle" %}
