{% capture questions %}
    <p>Does your product suite have a 3 month+ sales cycle and high value unit sales?</p>
    <p class="text-smaller">Does your product require high resource nurturing prospects from lead to sale?</p>
    <p class="text-smaller">Does your product involve significant customer investment with multiple members of the decision-making team?</p>
{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page type="d" field="long_sales_cycle" %}
