{% capture questions %}
    <p>Do you have a clearly defined target audience and persona?</p>
    <p class="text-smaller">Is your target audience defined by information such as company size, industry vertical and
        subvertical?</p>
    <p class="text-smaller">Do you understand the decision-making stakeholders within your target audience?</p>
    <p class="text-smaller">Do you understand the target audiences' frustration points your address address and what
        compelling events in their company circumstances would cause them to be interested in a
        solution such as yours?</p>
{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page field="defined_target_audience" %}
