{% capture questions %}
    <h4>Do you have a clearly defined target audience and persona?</h4>
<p><i>What this looks like…</i> You have defined information about an ideal company vertical, size and turnover, who in the
        company would make a decision about the purchase, who influences them and which of their frustration points your
        product solves.</p>

{% endcapture  %}
{% include summit-abm/questions.html questions=questions answers-page=include.answers-page field="defined_target_audience" %}
