---
---

@import "whitepaper";

* {
  color: white;
}

.pages {
  > section {
    background: #243641;
    min-height: 90vh;

    > .row {
      margin-left: 0;
      margin-right: 0;

      > div {
        padding: 3rem;
      }
    }
  }
}

.page-page-01 {
  .hero {
    background-image: url(../img/bg-lady.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 50%;

    @media (min-width: 992px) {
      height: auto;
    }
  }
}
.page-page-02,
.page-page-03 {
  .row {
    padding-bottom: 1rem;

    >.col, >[class^=col-] {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: #00dd0766;
      border: 1px solid #00dd07;
    }
  }
}
